body{
	font-family: 'Merriweather';
	text-align: center;
	color:#fff;
	background: #4B79A1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.image{ max-width: 100%; 
  height: auto;}

.container {
	width:90%;
	margin:0 auto;
	
}

.hidden{
	display:none;
}

button{
font-family: monospace;
font-weight: bold;
    background-color: black;    
	color:#fff;
	font-size:14px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:none;
margin-bottom: 20px;
	width:250px;
	height:32px
}                